<ion-view title="gr-Confirm">
    <ion-header-bar align-title="center" no-tap-scroll=true class="bar-positive">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-arrow-back" ng-click="returnDetail()"></button>
        </div>
        <h1 class="title">Tjms Confirm {{Confirm.Tjms2.JobNo}}</h1>
        <!-- <button class="button button-icon icon ion-android-print" ng-click="gotoPrint('1')"></button> -->
    </ion-header-bar>
    <ion-content>
        <div style="height: 1px;"></div>
        <div class="list card">
            <div class="item" style="padding: 10px">
                <p>Please sign below to confirm that the</p>
            </div>
            <div class="item item-body" Readonly="true">
                <div style="height: 0.5px" ></div>
                <div   >
                    <canvas   id='signatureCanvas' width="323px" height="140px" style="border: 1px solid black;" ng-show="signature==null"></canvas>
                    <img   ng-src='{{signature}}' ng-show="signature!=null"   />

                    <a class="button     icon-left iconfont ion-android-refresh button-clear button-positive" ng-click="clearCanvas()"  data-ng-disabled="Confirm.disabled" >Clear</a>
                </div>
            </div>
            <hr style="margin: 1px;" />
            <div class="" style="padding:0px;">
                <label class="item item-input">
                    <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                    <input type="text" data-ng-disabled="Confirm.disabled" id="txt-SignedByName" ng-model="Confirm.Tjms2.SignedByName" ng-keypress="enter($event, 'SignedByName') ">
                </label>
            </div>
            <div class="" style="padding:0px;">
                <label class="item item-input">
                    <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Nric&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                    <input type="text" data-ng-disabled="Confirm.disabled"  id="txt-SignedByNric" ng-model="Confirm.Tjms2.SignedByNric" ng-keypress="enter($event, 'SignedByNric') ">
                </label>
            </div>
            <div class="" style="padding:0px;">
                <label class="item item-input">
                    <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Designation&nbsp;&nbsp;:</span>
                    <input type="text" data-ng-disabled="Confirm.disabled"  id="txt-SignedByDesignation" ng-model="Confirm.Tjms2.SignedByDesignation" ng-keypress="enter($event, 'SignedByDesignation') ">
                </label>
            </div>
            <div class="" style="padding:0px;">
                <label class="item item-input">
                    <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">On behalf of&nbsp;&nbsp;:</span>
                    <input type="text"  data-ng-disabled="Confirm.disabled" id="txt-CompanyName" ng-model="Confirm.Tjms2.CompanyName" ng-keypress="enter($event, 'CompanyName') ">
                </label>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-positive ">
        <div class="button-bar">
            <button  data-ng-disabled="Confirm.disabled" class="button icon ion-android-done" ng-click="confirm()"  ">
                &nbsp;OK
            </button>
            <button class="button icon ion-arrow-return-right " ng-click="returnDetail() ">
                &nbsp;Cancel
            </button>
        </div>
    </ion-footer-bar>
</ion-view>
