<ion-view title="GRT-Detail">
	<ion-header-bar class="bar-positive" align-title="center">
		<button class="button button-icon icon ion-android-arrow-back" ng-click="returnList()"></button>
		<div class="h1 title">Tjms Detail {{Detail.Tjms2.JobNo}} </div>
		<button class="button button-icon icon ion-android-print" ng-click="gotoPrint('1')"></button>
	</ion-header-bar>
	<ion-content overflow-scroll="true">
		<div class="card">
			<div class="item" style="padding: 0px">
				<div class="row">
					<div class="col ">
						<p style="font-weight:bold;"> &nbsp;No of Packages :</p>
					</div>
					<div class="col">
						<p><span ng-bind="Detail.Tjms2.Pcs"></span></span>
						</p>
					</div>
					<div class="col ">
						<p style="font-weight:bold;">Gross Weight :</p>
					</div>
					<div class="col">
						<p><span ng-bind="Detail.Tjms2.GrossWeight"></span></p>
					</div>
				</div>
			</div>
			<div class="item" style="padding: 0px">
				<p style="font-weight:bold;">Description of Cargo :</p>
				<p><span ng-bind="Detail.Tjms2.CargoDescription" style="white-space: normal;"></span></p>
			</div>
			<div class="item" style="padding: 0px">
				<p style="font-weight:bold;">Customer&nbsp;Rep &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; :</p>
				<!-- <p><span ng-bind="Detail.Tjms2.OfficeInChargeName"></span></p> -->
				<label class="item item-input">
					<textarea wrap="hard" cols="48px" ng-model="Detail.Tjms2.OfficeInChargeName" rows="4">
					</textarea>
				</label>
			</div>
			<div class="item" style="padding: 0px">
				<p style="font-weight:bold;">Vessel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</p>
				<p><span ng-bind="Detail.Tjms2.Vessel" style="white-space: normal;"></span></p>
			</div>
			<!-- <div class="item" style="padding: 0px"> -->
				<div class="row">

					<div class="col" style="padding:0px;">
			                            <label class="item item-input">
  <span class="input-label" style="padding-top:2px; padding-bottom: 2px;font-weight:bold;">Date : </span>
				<button class="button button-light" id="id_DateCompleted" ng-click="OnDatePicker()">
					<i class="icon ion-calendar"></i>&nbsp;&nbsp;
					<span ng-bind="Detail.Tjms2.DateCompleted"></span>&nbsp;
					<i class="icon ion-android-arrow-dropdown"></i>
				</button>
				      </label>
			</div>
		</div>
	<!-- </div> -->
			<!-- Container List==================== start -->
			<div class="button-bar">
	                    <button class="button icon ion-plus-round button-positive" ng-click="gotoTjms5()">
	                        Add Tjms5
	                    </button>
	                </div>
			<div class="imc-scroll">
				<div>
					<table border="1px">
						<tr>
							<th> Code &nbsp;</th>
							<th> Vehicle Type &nbsp;</th>
							<th> Container No &nbsp;</th>
							<th> Description &nbsp;</th>
							<th> Chem/Plt Wt &nbsp;</th>
							<th> Chg Wt&nbsp;</th>
							<th> Chg Wt (Rnd Up) &nbsp;</th>
							<th> Vehicle No &nbsp;</th>
							<th>Start Time&nbsp;</th>
							<th> End Time &nbsp;</th>
						</tr>
						<tr ng-repeat="tjms5 in Detail.tjms5">
							<td>
								<!-- <label class="item item-input">
									<input type="text" id="" ng-model="tjms5.EquipmentType" style="">
								</label> -->

								<ui-select theme="bootstrap" ng-model="EquipmentType.selected" reset-search-input="true" on-select="showTote1(EquipmentType.selected,tjms5.LineItemNo)">
									<ui-select-match allow-clear="true" placeholder="Enter to search..." style="overflow:hidden;">{{$select.selected.EquipmentType}}</ui-select-match>
									<ui-select-choices repeat="EquipmentType in EquipmentTypes track by $index" refresh="refreshEquipmentType($select.search)" refresh-delay="0" position="down">
										<div ng-bind-html="EquipmentType.EquipmentType | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>

							</td>

							<td>
								<label class="item item-input">
									<input type="text" id="" ng-model="tjms5.EquipmentTypeDescription" style="">
								</label>
							</td>

							<td>
								<label class="item item-input">
									<input type="text" id="" ng-model="tjms5.ContainerNo" style="">
								</label>
							</td>

							<td>
								<label class="item item-input">
									<input type="text" id="" ng-model="tjms5.CargoDescription" style="">
								</label>
							</td>

							<td>
								<label class="item item-input">
									<input type="number" id="" ng-model="tjms5.Volume" data-ng-disabled="tjms5.disabled" style="">
								</label>
							</td>

							<td>
								<label class="item item-input">
									<input type="number" id="" ng-model="tjms5.ChargeWeight" data-ng-disabled="tjms5.disabled" style="">
								</label>
							</td>

							<td>
								<label class="item item-input">
									<input type="number" id="" ng-model="tjms5.ChgWtRoundUp" style="">
								</label>
							</td>

							<td>
								<label class="item item-input">
									<input type="text" id="" ng-model="tjms5.VehicleNo" style="">
								</label>
							</td>

							<td>
								<label class="item item-input">
									<input type="text" disabled="disabled" id="" ng-model="tjms5.StartDateTime" style="">
								</label>
							</td>

							<td>
								<label class="item item-input">
									<input type="text" disabled="disabled" id="" ng-model="tjms5.EndDateTime" style="">
								</label>
							</td>
							<td>
								<label class="item item-input">
								    <button class="button button-clear button-positive button-small" ng-click=""><i class="icon ion-android-close"></i></button>
								</label>
							</td>
						</tr>
						<!-- <tr>
							<td> <span ng-bind="Detail.Tjms2.ContainerNo2"></span> &nbsp;</td>
							<td> <span ng-bind="Detail.Tjms2.ContainerType2"></span> &nbsp;</td>
							<td> <span ng-bind="Detail.Tjms2.Pcs2"></span> &nbsp;</td>
							<td> <span ng-bind="Detail.Tjms2.CargoDescription2"></span> &nbsp;</td>
							<td> <span ng-bind="Detail.Tjms2.VehicleNo2"></span> &nbsp;</td>
							<td> <span ng-bind="Detail.Tjms2.StartDateTime"></span> &nbsp;</td>
							<td> <span ng-bind="Detail.Tjms2.EndDateTime"></span></td>
						</tr>
						<tr>
							<td> <span ng-bind="Detail.Tjms2.ContainerNo3"></span> &nbsp;</td>
							<td> <span ng-bind="Detail.Tjms2.ContainerType3"></span> &nbsp;</td>
							<td> <span ng-bind="Detail.Tjms2.Pcs3"></span> &nbsp;</td>
							<td> <span ng-bind="Detail.Tjms2.CargoDescription3"></span> &nbsp;</td>
							<td> <span ng-bind="Detail.Tjms2.VehicleNo3"></span> &nbsp;</td>
							<td> <span ng-bind="Detail.Tjms2.StartDateTime"></span> &nbsp;</td>
							<td> <span ng-bind="Detail.Tjms2.EndDateTime"></span></td>
						</tr> -->
					</table>
				</div>
			</div>

			<!-- <div class="item" style="padding: 0px">
				<p style="font-weight:bold;">Container No 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</p>
				<p><span ng-bind="Detail.Tjms2.ContainerNo1"></span></p>
			</div>
			<div class="item" style="padding: 0px">
				<p style="font-weight:bold;">Container Type 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</p>
				<p><span ng-bind="Detail.Tjms2.ContainerType1"></span></p>
			</div>
			<div class="item" style="padding: 0px">
				<p style="font-weight:bold;">No of Pkg /Cntr 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</p>
				<p><span ng-bind="Detail.Tjms2.Pcs1"></span></p>
			</div>
			<div class="item" style="padding: 0px">
				<p style="font-weight:bold;">Description 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</p>
				<p><span ng-bind="Detail.Tjms2.CargoDescription1" style="white-space: normal;"></span></p>
			</div>
			<div class="item" style="padding: 0px">
				<p style="font-weight:bold;">Vehicle No 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</p>
				<p><span ng-bind="Detail.Tjms2.VehicleNo1"></span></p>
			</div>

			<div class="item" style="padding: 0px">
				<p style="font-weight:bold;">Container No 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</p>
				<p><span ng-bind="Detail.Tjms2.ContainerNo2"></span></p>
			</div>
			<div class="item" style="padding: 0px">
				<p style="font-weight:bold;">Container Type 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</p>
				<p><span ng-bind="Detail.Tjms2.ContainerType2"></span></p>
			</div>
			<div class="item" style="padding: 0px">
				<p style="font-weight:bold;">No of Pkg /Cntr 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</p>
				<p><span ng-bind="Detail.Tjms2.Pcs2"></span></p>
			</div>
			<div class="item" style="padding: 0px">
				<p style="font-weight:bold;">Description 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</p>
				<p><span ng-bind="Detail.Tjms2.CargoDescription2" style="white-space: normal;"></span></p>
			</div>
			<div class="item" style="padding: 0px">
				<p style="font-weight:bold;">Vehicle No 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</p>
				<p><span ng-bind="Detail.Tjms2.VehicleNo2"></span></p>
			</div>

			<div class="item" style="padding: 0px">
				<p style="font-weight:bold;">Container No 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</p>
				<p><span ng-bind="Detail.Tjms2.ContainerNo3"></span></p>
			</div>
			<div class="item" style="padding: 0px">
				<p style="font-weight:bold;">Container Type 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</p>
				<p><span ng-bind="Detail.Tjms2.ContainerType3"></span></p>
			</div>
			<div class="item" style="padding: 0px">
				<p style="font-weight:bold;">No of Pkg /Cntr 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</p>
				<p><span ng-bind="Detail.Tjms2.Pcs3"></span></p>
			</div>
			<div class="item" style="padding: 0px">
				<p style="font-weight:bold;">Description 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</p>
				<p><span ng-bind="Detail.Tjms2.CargoDescription3" style="white-space: normal;"></span></p>
			</div>
			<div class="item" style="padding: 0px">
				<p style="font-weight:bold;">Vehicle No 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</p>
				<p><span ng-bind="Detail.Tjms2.VehicleNo3"></span></p>
			</div>
			<div class="item" style="padding: 0px">
				<p style="font-weight:bold;">Start Time&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</p>
				<p><span ng-bind="Detail.Tjms2.StartDateTime"></span></p>
			</div>
			<div class="item" style="padding: 0px">
				<p style="font-weight:bold;">End Time&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</p>
				<p><span ng-bind="Detail.Tjms2.EndDateTime"></span></p>
			</div> -->
			<!-- Container List==================== end -->
			<div class="item" style="padding: 0px">
				<!-- <p style="font-weight:bold;"></p> -->
				<!-- <p><span ng-bind="Detail.Tjms2.ChargeBerthQty"></span></p> -->
				<label class="item item-input">
					<span style="font-weight:bold;">Berthing/UnBerthing:&nbsp;&nbsp;</span>
					<input type="number" id="" ng-model="Detail.Tjms2.ChargeBerthQty" style="padding-right:1em;padding-top: 0px; ">
				</label>
			</div>
			<div class="item" style="padding: 0px">
				<!-- <p style="font-weight:bold;">Lifting Supervisor&nbsp;&nbsp;&nbsp;&nbsp; :</p> -->
				<label class="item item-input">
							<span style="font-weight:bold;">Lifting Supervisor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</span>
					<!-- <p><span ng-bind="Detail.Tjms2.ChargeLiftingQty"></span></p> -->
					<input type="number" id="" ng-model="Detail.Tjms2.ChargeLiftingQty" style="padding-right:1em;padding-top: 0px;">
				</label>
			</div>
			<div class="item" style="padding: 0px">
				<!-- <p style="font-weight:bold;">Signal Man&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</p> -->
				<label class="item item-input">
						<span style="font-weight:bold;">Signal Man&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</span>
					<input type="number" id="" ng-model="Detail.Tjms2.SignalManQty" style="padding-right:1em;padding-top: 0px;">
				</label>
			</div>
			<div class="item" style="padding: 0px">

					<span style="font-weight:bold;">&nbsp;&nbsp;&nbsp;&nbsp;Others &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
				<label class="item item-input">

					<textarea wrap="hard" cols="48px" ng-model="Detail.Tjms2.ChargeOther" rows="4">
					</textarea>
				</label>
			</div>
		</div>
		</div>
		</div>
	</ion-content>
	<ion-footer-bar class="bar-positive hide-on-keyboard-open">
		<div class="button-bar">
			<button class="button icon ion-android-done" ng-click="gotoConfirm()">
				&nbsp;Confirm
			</button>
			<button class="button icon ion-arrow-return-right" ng-click="returnList()">
				&nbsp;Cancel
			</button>
		</div>
	</ion-footer-bar>
</ion-view>
