<div class="" style="margin: 0;padding: 0;">
    <ion-header-bar class="bar-positive" align-title="center">
        <div class="buttons">

        </div>
        <div class="h1 title">Tjms5</div>
        <div class="buttons">
        </div>
    </ion-header-bar>
    <ion-content overflow-scroll="false">

        <div class="row">
            <span class="input-label" style="padding-top:2px; padding-bottom: 2px;"> &nbsp; &nbsp;&nbsp;Code &nbsp;&nbsp;</span>
            <div class="col" style="padding:0px;">
                <ui-select theme="bootstrap" ng-model="EquipmentType.selected" reset-search-input="true" on-select="showTote1(EquipmentType.selected,tjms5.LineItemNo)">
                    <ui-select-match allow-clear="true" placeholder="Enter to search..." style="overflow:hidden;">{{$select.selected.EquipmentType}}</ui-select-match>
                    <ui-select-choices repeat="EquipmentType in EquipmentTypes track by $index" refresh="refreshEquipmentType($select.search)" refresh-delay="0" position="down">
                        <div ng-bind-html="EquipmentType.EquipmentType | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="row">
            <div class="col" style="padding:0px;">
                <label class="item item-input">
                    <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Vehicle Type &nbsp;&nbsp;</span>
                    <input type="text" id="" ng-model="Detail.tjms5.EquipmentTypeDescription" placeholder="Vehicle Type" style="padding-right: 14px;">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding:0px;">
                <label class="item item-input">
                    <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Container No &nbsp;&nbsp;</span>
                    <input type="text" id="" ng-model="Detail.tjms5.ContainerNo" placeholder="Container No" style="padding-right: 14px;">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding:0px;">
                <label class="item item-input">
                    <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Description &nbsp;&nbsp;</span>
                    <input type="text" id="" ng-model="Detail.tjms5.CargoDescription" placeholder="Description" style="padding-right: 14px;">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col" style="padding:0px;">
                <label class="item item-input">
                    <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Chem/Plt Wt &nbsp;&nbsp;</span>
                    <input type="number" id="" ng-model="Detail.tjms5.Volume" data-ng-disabled="Detail.tjms5.disabled" placeholder="Chem/Plt Wt" style="padding-right:1em;padding-top: 0px;">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding:0px;">
                <label class="item item-input">
                    <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Chg Wt &nbsp;&nbsp;</span>
                    <input type="number" id="" ng-model="Detail.tjms5.ChargeWeight" data-ng-disabled="Detail.tjms5.disabled" placeholder="Chg Wt " style="padding-right:1em;padding-top: 0px;">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding:0px;">
                <label class="item item-input">
                    <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Chg Wt(Rnd Up) &nbsp;&nbsp;</span>
                    <input type="number" id="" ng-model="Detail.tjms5.ChgWtRoundUp" placeholder="Chg Wt(Rnd Up) " style="padding-right: 14px;">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col" style="padding:0px;">
                <label class="item item-input">
                    <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Vehicle No &nbsp;&nbsp;</span>
                    <input type="text" id="" ng-model="Detail.tjms5.VehicleNo" placeholder="Vehicle No" style="padding-right: 14px;">
                </label>
            </div>
        </div>

    </ion-content>

    <ion-footer-bar class="bar-positive">
        <div class="button-bar">
            <button class="button icon ion-android-done" ng-click="insertTjms5()">
                Add
            </button>
            <button class="button icon ion-arrow-return-right" ng-click="returnDetail()">
                Cancel
            </button>
        </div>
    </ion-footer-bar>
</div>
