<ion-view title="Main">
    <ion-nav-buttons>
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        TJMS
    </ion-nav-title>
    <ion-pane>
         <div style="height:43px"></div>
        <div class="box">
          <div class="" style="background-color: rgba(190,119,179,1);">
              <button class="button button-icon button-large icon ion-calendar sudoku-btn flex-b-item" ng-click="func_GR()">
                  <p>Tjms List</p>
              </button>
          </div>
         </div>
    </ion-pane>
</ion-view>
